/*Image CSS**/

#username{

	border-radius:10px;
    text-align:center;
    font-size: 30px;
    color: white;
    border: 2px #3C3D3F solid;
    padding: 10px 20px;
	margin-right: 3rem;
	background:linear-gradient(#ED213A , #93291E);
}

.image-carrousel {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
}



.image-card {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(78, 77, 77, 0.2), 0 6px 20px 0 rgba(136, 136, 136, 0.19);
	width: 600px;
	height: 600px;
}

.delete {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	height: 2rem;
	width: 2rem;
	margin-bottom: 1rem;
	justify-self: flex-end;
	align-self: flex-end;
}

.image-delete-btn {
	background-image: url("../media/trash.svg");
	background-size: cover;
}

.image-detail-container {
	display: grid;
	padding: 2%;
	overflow:hidden;
	text-overflow: ellipsis;
}


.image-author {
	font-size: 2rem;
	font-weight: 800;
	text-decoration: underline;
	margin-top: 1rem;
	word-break: break-all;
	margin-right: auto;
	margin-bottom: 1em;
}

.image-date {
	font-weight: bold;
	color: black;
	font-size: medium;
	margin-left:auto;
	margin-top:0.5em;

}

.image-title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-right: auto;
	word-wrap: normal;
}

.posted-image {
	height: 100%;
	width: 100%;
}

.scroll-btn {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	background-size: cover;
}

.left-btn {
	background-image: url("../media/caret-left-fill.svg");
}

.right-btn {
	background-image: url("../media/caret-right-fill.svg");
}

/*https://gradientbuttons.colorion.co/*/

.btn-grad {
	background:linear-gradient(#ED213A , #93291E);
	margin: 10px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	width: min-content;
	float: left;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

/**Comment CSS*/

#comments {
	width: 80%;
	align-self: center;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.show-comments {
	font-size: xx-large;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

.comment {
	display: flex;
	align-content: space-around;
	border-bottom: 3px #cccccc solid;
	align-items: center;
	margin-top: 1rem;
	flex-wrap: nowrap;
	width: 100%;
}

.comment-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	margin-right: 0.1rem;
	margin-left: 0.2rem;
}

.comment-picture {
	height: 70px;
	width: 70px;
}

.comment-author {
	font-size: large;
	font-weight: 600;
}

.comment-delete-btn {
	height: 50px;
	width: 50px;
	align-self: flex-end;
	background-position: center;
	background-size: cover;
	background-image: url("../media/trash2.svg");
}

.comment-content {
	align-self: center;
	display: flex;
	flex-wrap: nowrap;
	flex: 2 1 auto;
	margin-left: 2%;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 25px;
}

.comment-btns-container {
	display: flex;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	font-size: 40px;
	justify-content: space-between;
}

.comment-btn {
	border: none;
	background-color: transparent;
	background-size: 100%;
	background-position: center;
	padding: 18px;
}

.comment-btn-right {
	background-image: url('../media/arrow-right-circle-fill.svg');
	background-repeat: no-repeat;
}

.comment-btn-left {
	background-image: url('../media/arrow-left-circle-fill.svg');
	background-repeat: no-repeat;
}

.grad-btn-gallery {
	padding: 1rem;
	text-align: center;
}

#gallery-menu {
	display: flex;
	flex-direction: row;
}

#empty-image{
	display: flex;
	justify-content: center;
	font-size: x-large;
	font-weight: 800;
	margin-top: 5rem;
	
}

#signout-button{
	text-decoration: none;
	text-align: center;
}