html {overflow: -moz-scrollbars-vertical;}

body {
	background: #FFFFFF;
  font-family:  "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
	sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: left;
    max-width: 90%;
    margin: auto;
    min-width: 20%;
}

header{
    display:flex;
    margin-top:36px;
    height: 64px;
    justify-content:flex-end;
}

header #title{
    color: black;
    text-decoration:none;
    margin: 0px;
    width:100%;
    font-size:60px;
}

button,a{
  cursor: pointer;
}

.header_btn{
    text-decoration:none;
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}


footer{
    margin-top: 20px;
    text-align:center;
}

#app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
}

/* https://www.w3schools.com/howto/howto_js_alert.asp */

#alert{
    padding: 10px;
    background-color: rgba(202, 32, 32, 0.548); /* Red */
    color: white;
    margin: 15px;
    display: flex;
  }
  
  #alert-message{
    font-size: 25px;
    padding-left: 1.5rem;
    line-height: 20px;
    flex-grow: 4;
    align-self: center;
  }
  
  #alert-close{
    margin:15px;
    color: white;
    size:22px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #alert-close:hover{
    color:black;
  }
